body {
    height: 100vh;
}

.nav-wrapper {
    background-color: #26a69a;
}

main {
    height: 100%;
    display: flex;
    padding: 0 5px 0 5px;
    flex-direction: column;
    justify-content: space-between;
}

main .row {
    min-width: 100%;
    /*flex: 1 0 auto;*/
}

main .row-map {
    min-width: 100%;
    flex-grow: 3;
    min-height: 200px;
}

main .row-msg {
    flex-grow: 3;
}

main .row-write {
    flex-grow: 1;
}

#map-canvas {
    min-height: 300px;
}

#chat-messages {
    min-height: 20vh;
    /*height: 60vh;*/
    width: 100%;
    overflow-y: scroll;
}

footer.page-footer {
    clear: both;
    position: relative;
    height: 100px;
    margin-top: -100px;
    background-color: #26a69a;
}


element.style {
    position: absolute;
    left: 0;
}
.controls {
    min-height: 80px;
}

.controls button {
    margin-top: 20px;
}

.controls .input-field {
    margin-left: 20px;
}

.room-name-block {
    display: inline-block;
    max-width: 50%;
}

.room-name-display {
    display: inline-block;
    max-width: 50%;
    margin-top: 25px;
    font-size: 20px;
}

.gmap-map {
    width:100%;
    height: 400px;
}

.users {
    flex-grow: 1;
    margin-left: 12px;
}