body {
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .row {
    min-width: 100%;
    /*flex: 1 0 auto;*/
}

main .row-map {
    min-width: 100%;
    flex-grow: 3;
    min-height: 200px;
}

main .row-msg {
    flex-grow: 3;
}

main .row-write {
    flex-grow: 1;
}

#map-canvas {
    min-height: 300px;
}

#chat-messages {
    min-height: 20vh;
    /*height: 60vh;*/
    width: 100%;
    overflow-y: scroll;
}